Flask==1.0.2
Flask-SocketIO==3.0.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==0.23
python-engineio
python-socketio
six==1.9.0
Werkzeug==0.14
eventlet==0.24.1

flask-bootstrap==3.3.7.0
flask-wtf==0.14

redis==3.0.1
rq==0.13.0

requests==2.21.0

flask-cors==3.0.7

