Flask==1.0.2
Flask-SocketIO==3.0.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==0.23
python-engineio==3.2.3
python-socketio==3.1.1
six==1.10.0
Werkzeug==0.14.1
eventlet==0.24.1

flask-bootstrap==3.3.7.1
flask-wtf==0.14.2
flask-mqtt==1.0.5

redis==3.0.1
rq==0.13.0

requests==2.21.0

flask-cors==3.0.7

