<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <title>Monitor</title>
</head>
<body>
  Hello, <b> {{ config.APP_NAME }} </b>
  <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
  <div class="message_holder"></div>

  <script type="text/javascript" charset="utf-8">
    //Establish connection and emit a message to confirm.
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
        console.log('Emit!');
    });

    socket.on('monitor message', function(msg) {
        console.log('Received response!', msg);
        $( 'h3' ).remove()
        $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
    });
  </script>

</body>
</html>
